{% extends "lab_8/layout/base.html" %}

{% block content %}

<button class="button" onclick="facebookLogin()">Login with Facebook</button>
<section>
  <div id="lab8">

  </div>
<section>
{% endblock %}
