a.green-button{
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 7px 20px !important;
  border-radius: 5px;
  margin: 10px 10px 10px 900px;
  background-color: #1ec279;
  border: 3px solid #1ec279;
  border-radius: 5px;
  transition: 0.8s;
  text-decoration: none;
  color: white;
}

a.green-button a {
  text-decoration: none;
  color: #fff;
  text-decoration: none;
  color: white;
}

a.green-button:hover{
  background-color: rgba(255,255,255,0);
  cursor: pointer;
  text-decoration: none;
  color: #1ec279;
}
a.green-button:hover a{
 color: #1ec279;
 text-decoration: none;
}

.brand{
  margin: 5px 10px 5px 20px;
}
