{% extends "lab_4/layout/base.html" %}

{% block content %}
<h1>Portofolio</h1>
<hr style="height:2px;border:none;color:#333;background-color:#333;"/>
<section name="bio">
    <h2 class="center">Bio</h2>
    <br>
    <img class="img" src="https://scontent-sin6-2.xx.fbcdn.net/v/t1.0-9/20914618_10210565646200754_1900993705092569588_n.jpg?oh=5fb37250f87cade3f333a7e3e7175b36&oe=5A83B0A8"></img>
  </br><p class="indexDetail">Name:    Michael Giorgio</p>
    <p class="indexDetail">TTL:     Denpasar, 4 Februari 1999</p>
    <p class="indexDetail">NPM:     1606875825</p>
    <p class="center">
        {{content}}
    </p>
</section>
<hr style="height:1px;border:none;color:#333;background-color:#333;"/>
<section name="about_me">
    <h2>List</h2>
    <ul>
        {% for ii in about_me %}
        <li> {{ ii }} </li>
        {% endfor %}
    </ul>
</section>
<hr style="height:1px;border:none;color:#333;background-color:#333;"/>
<section name="form">
    <h2>Send Message</h2>
    <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</section>


{% endblock %}
