{% extends "base.html" %}
{% block content %}
<style>
    body{
      background-image: url("https://wallpaperscraft.com/image/sakura_branch_close-up_24495_2560x1440.jpg");
      background-size: 120%;
    }
    .center_screen {
        position: absolute;
        width: 1000px;
        height: 500px;
        top: 20%;
        left: 20%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -25px;
    }
    .upper_text{
      font-size: 40px;
      font-family: "Proxima Nova";
      color: white;
      margin-left: -20px;
    }
    .lower_text{
      font-size: 40px;
      font-family: "Sacramento";
      color: white;
      font-style: italic;
      margin-left: 60px;
    }
</style>
<div class="center_screen">
    <p class="upper_text" id="test">Hello, this is {{ name }}.</p>
    <p class="lower_text" id="test">{{ content }}. </p>
</div>
{% endblock %}
