{% extends "lab_7/layout/base.html" %}

{% block content %}
    <section name="friend-list" id="friend-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2> Friend Fasilkom</h2>
                    <div id="friend-list" class="list-group">

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
    <script>
        $( document ).ready(function () {
            // lengkapi pemanggilan ajax berikut untuk mengambil daftar teman yang ada di database
            $.ajax({
                method: "GET",
                url: "{% url "lab-7:get-friend-list" %}",
                dataType: 'json',
                success: function (response) {
                  friend_list = response['friend_list']
                    for (var i=0; i < friend_list.length; i++) {
                      friend = friend_list[i];
                      html = '<a class="list-group-item clearfix" id=' + friend.id + '>' +
                          friend.friend_name + ' (' + friend.npm + ')'
                          '</a>';

                      button = '<span class="pull-right">'+
                                            '<button type="button" class="btn btn-xs btn-danger"'+
                                            'onClick="deleteFriend('+friend.id+')">'+
                                                '&times;'+
                                            '</button>'+
                                         '</span>';



                      $("#friend-list").append(html + button)
                    }
                },
                error: function(error){
                    // #tampilkan pesan error
                    alert("ERROR");
                }
            });
        });

        var deleteFriend = function(id) {
          $.ajax({
            method : 'POST',
            url : "{% url 'lab-7:delete-friend' %}",
            data : {'id' : id},
            dataType : 'json',
            success : function(response) {
              $('#' + response.id).hide()
            },
            error : function(error) {
              alert('error')
            }
          });
        };
    </script>
{% endblock %}
